h2 {
  font-weight: 100 !important;
}

.app-body {
  min-height: 100vh;
}

/* .app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.privacy {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  max-width: 520px;
}

.calendar-select {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-mainform {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-landing {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-landing h1,
.calendar-landing h2 {
  max-width: 520px;
  text-align: center;
}

.calendar-chooser {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1.5em;
}

.timespan-chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.days-chooser {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timezone-chooser {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.word {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 2em;
}

.gettimes-buttons {
  margin-top: 1em;
}

.results-text {
  margin-top: 1em;
  width: 33em;
  font-size: 1.5em;
  height: 10em;
}

/* elements */
.bp3-tag {
  background-color: #00b0ff;
}

.bp3-menu-item.bp3-active.bp3-intent-primary {
  background-color: #00b0ff;
}

.bp3-button.bp3-intent-primary {
  background-color: #00b0ff;
  border-radius: 18px;
  border: 0;
  box-shadow: none !important;
}

.bp3-button.bp3-intent-primary:hover {
  background-color: rgb(8, 139, 187);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(8, 139, 187, 0.2);
  border-right: 1.1em solid rgba(8, 139, 187, 0.2);
  border-bottom: 1.1em solid rgba(8, 139, 187, 0.2);
  border-left: 1.1em solid rgb(8, 139, 187);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-links {
  margin-right: 1em;
}

.get-days-input {
  font-size: 1.8em;
  width: 2em;
}

@media only screen and (max-width: 600px) {
  .timespan-chooser {
    flex-direction: column;
  }
  .days-chooser {
    flex-direction: column;
  }
  .timezone-chooser {
    flex-direction: column;
  }
  .results-text {
    width: 90%;
  }
  .landing-image {
    width: 100%;
  }
}
